.display {
    width: 50%;
    background-color: lightgray;
    font-size: 32px;
    border: 1px solid yellow;
}

button {
    font-size: 30px;
    padding: 10px;
}
/* Helper styles - not intended to be used alone! */
.center {
    margin: auto;
    text-align: center;
}