.display {
    width: 50%;
    background-color: lightgray;
    font-size: 32px;
}

.break {
    height: 2px;
    background-color: darkgrey;
}

.body {
    display: flex; flex-direction: column; align-content: center; justify-content: center; align-items: center;
}

button {
    font-size: 30px;
    padding: 10px;
}
/* Helper styles - not intended to be used alone! */
.center {
    margin: auto;
    text-align: center;
}